/* 
 * VacCOVID Stylesheet
 * Placeholder - SCSS files are compiled via sass-loader
 * Main styles in: client/src/views/sass/main.scss
 * 
 * This is a temporary file to satisfy the build system
 * The actual styles are loaded via sass-loader webpack plugin
 */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
