.footer {
  display: grid;
  grid-template-rows: [first-part-start] 470px [first-part-end second-part-start] 90px [second-part-end];
  grid-template-columns: 1fr;
  color: #bbb;
  background: #14274e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #14274e, #232526);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #14274e, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 35px;

  @include respond(tab-land) {
    grid-template-rows: [first-part-start] auto [first-part-end second-part-start] 90px [second-part-end];
    grid-template-columns: 1fr;
  }

  @include respond(tab-port) {}

  @include respond(middle-phone) {}

  @include respond(phone) {}

  @include respond(small-phone) {}

  &-first-part {
    grid-row: first-part-start / first-part-end;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: [left-start] minmax(10px, 100px) [left-end about-start] minmax(300px, 500px) [about-end maps-start] minmax(200px, 300px) [maps-end covid19-start] minmax(200px, 300px) minmax(200px, 300px) [covid19-end news-start] minmax(200px, 300px) [news-end right-start] 1fr [right-end];
    gap: 40px;

    @include respond(tab-land) {
      grid-template-rows: 1fr;
      grid-template-columns: [res-start] 1fr [res-end];
    }

    &-about {
      grid-column: about-start / about-end;

      @include respond(tab-land) {
        grid-column: res-start / res-end;
        text-align: center;
      }

      &-name {
        font-size: 200%;

      }

      &-between {
        width: 70%;
        height: 1px;
        background: #8e9eab;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab00);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #eef2f3, #8e9eab00);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        margin-bottom: 10px;

        @include respond(tab-land) {
          width: 100%;
          background: #8e9eab;
          /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #8e9eab00, #eef2f3, #8e9eab00);
          /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #8e9eab00, #eef2f3, #8e9eab00);
          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
      }

      &-text {}
    }

    &-maps {
      grid-column: maps-start / maps-end;

      @include respond(tab-land) {
        grid-column: res-start / res-end;
        text-align: center;
      }

      &-title {
        font-size: 175%;
        margin-bottom: 8px;
      }

      &-between {
        width: 70%;
        height: 1px;
        background: #8e9eab;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab00);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #eef2f3, #8e9eab00);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        margin-bottom: 10px;

        @include respond(tab-land) {
          width: 100%;
          background: #8e9eab;
          /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #8e9eab00, #eef2f3, #8e9eab00);
          /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #8e9eab00, #eef2f3, #8e9eab00);
          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
      }

      &-list {
        list-style-type: none;


        &-item {
          margin-bottom: 5px;

          &-link {
            text-decoration: none;
            color: #ddd;
            transition: 0.2s;
          }

          &-link:hover {
            color: #fff;
            text-shadow: 0px 0px 1px #fff;
          }
        }
      }
    }

    &-covid19 {
      grid-column: covid19-start / covid19-end;

      @include respond(tab-land) {
        grid-column: res-start / res-end;
        text-align: center;
      }

      &-title {
        font-size: 175%;
        margin-bottom: 8px;
      }

      &-between {
        width: 70%;
        height: 1px;
        background: #8e9eab;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab00);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #eef2f3, #8e9eab00);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        margin-bottom: 10px;

        @include respond(tab-land) {
          width: 100%;
          background: #8e9eab;
          /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #8e9eab00, #eef2f3, #8e9eab00);
          /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #8e9eab00, #eef2f3, #8e9eab00);
          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
      }

      &-list {
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr;

        @include respond(tab-port) {
          grid-template-columns: 1fr;
        }

        &-item {
          margin-bottom: 5px;

          &-link {
            text-decoration: none;
            color: #ddd;
            transition: 0.2s;
          }

          &-link:hover {
            color: #fff;
            text-shadow: 0px 0px 1px #fff;
          }
        }
      }
    }

    &-news {
      grid-column: news-start / news-end;

      @include respond(tab-land) {
        grid-column: res-start / res-end;
        text-align: center;
      }

      &-title {
        font-size: 175%;
        margin-bottom: 8px;
      }

      &-between {
        width: 70%;
        height: 1px;
        background: #8e9eab;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab00);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #eef2f3, #8e9eab00);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        margin-bottom: 10px;

        @include respond(tab-land) {
          width: 100%;
          background: #8e9eab;
          /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #8e9eab00, #eef2f3, #8e9eab00);
          /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #8e9eab00, #eef2f3, #8e9eab00);
          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
      }

      &-list {
        list-style-type: none;

        &-item {
          margin-bottom: 5px;

          &-link {
            text-decoration: none;
            color: #ddd;
            transition: 0.2s;
          }

          &-link:hover {
            color: #fff;
            text-shadow: 0px 0px 1px #fff;
          }
        }
      }
    }
  }

  &-second-part {
    grid-row: second-part-start / second-part-end;
    display: grid;
    grid-template-rows: 15px 1fr;
    grid-template-columns: [left-start] 2fr [left-end icons-start] 1fr [icons-end right-start] 2fr [right-left];

    @include respond(tab-land) {
      margin-top: 5px;
    }

    &-between {
      grid-column: icons-start / icons-end;
      width: 100%;
      height: 1px;
      background: #8e9eab;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #8e9eab00, #eef2f3, #8e9eab00);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #8e9eab00, #eef2f3, #8e9eab00);


    }

    &-icons {
      grid-column: icons-start / icons-end;

      display: grid;
      grid-template-rows: 45px;
      grid-template-columns: repeat(5, 70px);


      @include respond(tab-port) {
        grid-template-rows: 45px;
        grid-template-columns: repeat(5, 35px);
        gap: 13px;
      }


      &-instagram {
        width: 100%;


        &-logo {
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: #ddd;
          transition: 0.2s;
        }

        &-logo:hover {
          color: #fff;
          text-shadow: 0px 0px 1px #fff;
        }
      }

      &-tweeter {
        width: 100%;


        &-logo {
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: #ddd;
          transition: 0.2s;
        }

        &-logo:hover {
          color: #fff;
          text-shadow: 0px 0px 1px #fff;
        }
      }

      &-facebook {
        width: 100%;


        &-logo {
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: #ddd;
          transition: 0.2s;
        }

        &-logo:hover {
          color: #fff;
          text-shadow: 0px 0px 1px #fff;
        }
      }

      &-linkedIn {
        width: 100%;


        &-logo {
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: #ddd;
          transition: 0.2s;
        }

        &-logo:hover {
          color: #fff;
          text-shadow: 0px 0px 1px #fff;
        }
      }

      &-spotify {
        width: 100%;


        &-logo {
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: #ddd;
          transition: 0.2s;
        }

        &-logo:hover {
          color: #fff;
          text-shadow: 0px 0px 1px #ffffff;
        }
      }
    }
  }
}