.news {
    // background-color: red;
    width: 90%;
    margin: 45px auto;
    display: grid;
    grid-template-rows: [searchfor-and-news-start] repeat(2, 1fr) [searchfor-end] repeat(10, 1fr) [news-end buttons-start] 1fr [buttons-end];
    grid-template-columns: [searchfor-start] 1fr [searchfor-end news-start] 5fr [news-end];
    // grid-column-gap: 10px;
    height: 85vh;
    // border: red 2px solid;
    border-radius: 10px;

    @include respond(tab-land) {
        grid-template-rows: [searchfor-start] 1fr [searchfor-end news-start] auto [news-end buttons-start] auto [buttons-end];
        grid-template-columns: [res-start] 1fr [res-end];
    }

    @include respond(tab-port) {}

    @include respond(middle-phone) {}

    @include respond(phone) {
        width: 96%;
    }

    @include respond(small-phone) {}


    &-btnAndTitle {
        @include respond(tab-land) {
            display: grid;
        }

        grid-row: searchfor-start / searchfor-end;
        display: none;
        grid-template-rows: [region-btn-start] 40px [region-btn-end region-name-start] 50px [region-name-end];
        grid-template-columns: 100%;



        &-btn {
            grid-row: region-btn-start / region-btn-end;
            border: none;
            font-size: 110%;
            background-color: #0f4c75;
            cursor: pointer;
            color: #eee;
            border-radius: 5px;
            transition: 0.2s;
            outline: 0;
        }


        &-btn:hover,
        &-btn:active {
            color: #fff;
            text-shadow: 0px 0px 1px #eee;
            background-color: #0a4274;
        }

        &-title {
            grid-row: region-name-start / region-name-end;
            text-align: center;
            letter-spacing: 4px;
            padding-top: 5px;
            font-size: 150%;
            background: -webkit-linear-gradient(#849099, #eee);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &-responsive {
        height: 100vh;
        width: 100vw;
        // width: 100vw;
        position: fixed;
        top: 50px;
        left: 0;
        z-index: 5;

        background: #141E30;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #243B55, #141E30);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #243B55, #141E30);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        display: grid;
        grid-template-rows: [responsive-regions-start] 1fr [responsive-regions-end];
        grid-template-columns: [responsive-regions-start] 1fr [responsive-regions-end];

        transition: 0.4s;

        &-close_btn {
            grid-row: responsive-regions-start / responsive-regions-end;
            grid-column: responsive-regions-start / responsive-regions-end;
            display: grid;
            grid-template-rows: 0px;
            grid-template-columns: 21px;
            z-index: 10;
            width: 45px;
            height: 55px;
            opacity: 0.7;
            border: none;
            background-color: transparent;
            justify-self: end;
            margin: 0px 30px;
            padding: 0px 0px;
            cursor: pointer;
        }

        &-close_btn:hover {
            opacity: 1;
        }

        &-close_btn:before,
        &-close_btn:after {
            grid-row: -1;
            grid-column: -1;
            content: ' ';
            height: 58px;
            width: 2px;
            background-color: #fff;
        }

        &-close_btn:before {
            transform: rotate(45deg);
        }

        &-close_btn:after {
            transform: rotate(-45deg);
        }


        &-allregions {

            grid-row: responsive-regions-start / responsive-regions-end;
            grid-column: responsive-regions-start / responsive-regions-end;

            display: grid;
            grid-template-rows: 40px 40px 40px;
            grid-template-columns: 100%;
            overflow: hidden;
            margin-top: 90px;

            @include respond(tab-port) {}

            &-title {
                position: relative;
                height: 40px;
                justify-self: center;
                padding: 6px 0px;
                font-size: 220%;
                color: #fff;
                margin-bottom: 30px;

                @include respond(phone) {
                    font-size: 180%;
                }

            }

            &-title:first-child {
                margin-top: 15vh;
            }

            &-title::after {
                position: absolute;
                content: '';
                width: 120%;
                height: 3px;
                background-color: #fff;
                top: 60px;
                left: -10%;
            }

            &-btn {
                justify-self: center;
                font-size: 170%;
                color: #fff;
                transition: 0.2s;
                text-decoration: none;

                @include respond(phone) {
                    font-size: 145%;
                }

                &-active {
                    color: #19d3da;
                    text-shadow: 0px 0px 1px #074f80;
                }
            }

            &-btn:hover {
                text-shadow: 0px 0px 2px #eee;
                // background-color: #0d63a5;
            }
        }
    }

    &-item {
        // padding: 20px;
        margin: 4px;
        // border: orange 2px solid;
        // background-color: orange;
        // grid-row-gap: 4px;


        &--searchfor {
            grid-row: searchfor-and-news-start / searchfor-end;
            grid-column: searchfor-start / searchfor-end;
            display: grid;
            margin: 8px 0px;
            height: 150px;
            // grid-template-rows: repeat(3, 1fr);
            // grid-template-columns: 1fr;
            z-index: 2;
            -moz-box-shadow: inset 0 0 10px #172a3f;
            -webkit-box-shadow: inset 0 0 10px #172a3f;
            box-shadow: inset 0 0 10px #172a3f;
            border-radius: 10px;
            background: #141E30;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #1a1a2e00, #141E30);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #1a1a2e00, #141E30);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            @include respond(tab-land) {
                display: none;
            }

            &-btn {
                // border: red 2px solid;
                // border-radius: 50%;
                text-decoration: none;
                font-size: 180%;
                border-radius: 5px;
                // transition: 0.2s;
                width: 100%;
                text-align: center;
                // align-self: center;
                // justify-self: end;

                &--vaccine {
                    // border: #000 1px solid;
                    background: -webkit-linear-gradient(#2980B9, #6DD5FA, #FFFFFF);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;


                    &-active-btn {
                        box-shadow: #172a3f 1px 1px 2px;
                        background: -webkit-linear-gradient(right, #0F2027, #203A43, #2C5364);
                        background-clip: border-box;
                        -webkit-background-clip: content-box;
                        -webkit-text-fill-color: #6DD5FA;
                    }
                }

                &--vaccine:hover,
                &--vaccine:active {
                    box-shadow: #172a3f 1px 1px 2px;
                    background: -webkit-linear-gradient(right, #0F2027, #203A43, #2C5364);
                    background-clip: border-box;
                    -webkit-background-clip: content-box;
                    -webkit-text-fill-color: #6DD5FA;
                }


                &--corona {
                    background: -webkit-linear-gradient(#cb2d3e, #ef473a);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;


                    &-active-btn {
                        box-shadow: #172a3f 1px 1px 2px;
                        background: -webkit-linear-gradient(right, #870000, #190A05);
                        background-clip: border-box;
                        -webkit-background-clip: content-box;
                        -webkit-text-fill-color: #ffb5b5;
                    }
                }

                &--corona:hover,
                &--corona:active {
                    box-shadow: #172a3f 1px 1px 2px;
                    background: -webkit-linear-gradient(right, #870000, #190A05);
                    background-clip: border-box;
                    -webkit-background-clip: content-box;
                    -webkit-text-fill-color: #ffb5b5;
                }


                &--health {
                    background: -webkit-linear-gradient(#DCE35B, #45B649);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;


                    &-active-btn {
                        box-shadow: #172a3f 1px 1px 2px;
                        background: -webkit-linear-gradient(right, #52c234, #061700);
                        background-clip: border-box;
                        -webkit-background-clip: content-box;
                        -webkit-text-fill-color: #beffb5;
                    }
                }

                &--health:hover,
                &--health:active {
                    box-shadow: #172a3f 1px 1px 2px;
                    background: -webkit-linear-gradient(right, #52c234, #061700);
                    background-clip: border-box;
                    -webkit-background-clip: content-box;
                    -webkit-text-fill-color: #beffb5;
                }



            }
        }

        &--news {

            grid-row: searchfor-and-news-start / news-end;
            grid-column: searchfor-start / news-end;
            overflow: auto;

            display: grid;
            // grid-template-rows: [searchfor-and-news-start] repeat(3, 1fr) [searchfor-end] repeat(6, 1fr) [news-end];
            grid-template-columns: [searchfor-btn-start] 1fr [searchfor-btn-end news-part-start] 5fr [news-part-end];

            @include respond(tab-land) {
                grid-row: news-start / news-end;
                grid-column: res-start / res-end;

                grid-template-columns: [res-start]1fr[res-end];
            }

            &-list {
                -moz-box-shadow: inset 0 0 10px #172a3f;
                -webkit-box-shadow: inset 0 0 10px #172a3f;
                box-shadow: inset 0 0 10px #172a3f;
                border-radius: 10px;

                grid-column: news-part-start / news-part-end;

                margin: 1px 14px;

                // border: green 2px solid;
                // margin-left: 20%;
                // width: auto;
                @include respond(tab-land) {
                    width: 100%;
                    margin: 1px 1px;
                    grid-column: res-start / res-end;
                }

                &-eachNews {
                    display: grid;
                    grid-template-rows: [title-start] 1fr [title-end between-start] 1px [between-end content-start] 2fr[content-end];
                    grid-template-columns: [broadcastImg-start] 2fr[broadcastImg-end titleAndContent-start] 12fr[titleAndContent-end newsImg-start] 3fr[newsImg-start];
                    grid-column-gap: 4px;
                    margin: 5px;
                    text-decoration: none;
                    width: auto;
                    height: 130px;
                    overflow: hidden;
                    color: #fff;
                    // background-color: $color-primary-second;
                    border-radius: 6px;
                    box-shadow: #000 0px 0px 2px;
                    transition: 0.05s;
                    margin-bottom: 10px;

                    background: #141E30;
                    /* fallback for old browsers */
                    background: -webkit-linear-gradient(to left, #1a1a2e, #141E30);
                    /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to left, #1a1a2e, #141E30);
                    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                    @include respond(middle-phone) {
                        height: 160px;
                    }

                    @include respond(phone) {
                        grid-template-columns: [broadcastImg-start] 3fr [broadcastImg-end titleAndContent-start] 12fr [titleAndContent-end newsImg-start] 3fr [newsImg-start];
                        height: 200px;
                    }

                    &-loading {
                        box-shadow: #000 0px 0px 0px;
                        margin: 9px;
                    }

                    &-broadcastImg {
                        grid-row: title-start / content-end;
                        grid-column: broadcastImg-start / broadcastImg-end;
                        width: 110%;
                        height: 130px;
                        // object-fit: fill;

                        @include respond(phone) {
                            width: 125%;
                            height: 100%;
                        }

                        @include respond(small-phone) {
                            width: 150%;
                        }
                    }

                    &-broadcastImg-cover {
                        grid-row: title-start / content-end;
                        grid-column: broadcastImg-start / broadcastImg-end;
                        width: 110%;
                        height: 130px;
                        background: #141E30;
                        /* fallback for old browsers */
                        background: -webkit-linear-gradient(to right, #1a1a2e00, #141E30);
                        /* Chrome 10-25, Safari 5.1-6 */
                        background: linear-gradient(to right, #1a1a2e00, #141E30);
                        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                        @include respond(phone) {
                            width: 125%;
                            height: 100%;
                        }

                        @include respond(small-phone) {
                            width: 150%;
                        }
                    }

                    &-title {
                        grid-row: title-start / title-end;
                        grid-column: titleAndContent-start / titleAndContent-end;
                        font-size: 140%;
                        margin-top: 7px;
                        font-family: 'Playfair Display', serif;
                        letter-spacing: 0.4px;
                        line-height: 29px;
                        z-index: 3;

                        @include respond(tab-land) {
                            margin-top: 7px;
                        }

                        @include respond(tab-port) {
                            font-size: 120%;
                        }

                        @include respond(middle-phone) {}

                        @include respond(phone) {
                            font-size: 90%;
                            letter-spacing: 0.6px;
                            line-height: 20px;
                        }

                        @include respond(small-phone) {}
                    }

                    &-between {
                        grid-row: between-start / between-end;
                        grid-column: titleAndContent-start / titleAndContent-end;
                        width: 100%;
                        // height: 50px;
                        // background-color: aliceblue;
                        background: #8e9eab;
                        /* fallback for old browsers */
                        background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab1e);
                        /* Chrome 10-25, Safari 5.1-6 */
                        background: linear-gradient(to right, #eef2f3, #8e9eab1e);
                        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                        z-index: 3;
                    }

                    &-content {
                        grid-row: content-start / content-end;
                        grid-column: titleAndContent-start / titleAndContent-end;
                        font-size: 90%;
                        color: rgb(192, 192, 192);
                        line-height: 20px;
                        z-index: 3;

                        @include respond(tab-port) {
                            font-size: 70%;
                        }

                        @include respond(phone) {
                            line-height: 18px;
                        }
                    }

                    &-pubDate {
                        grid-row: title-start / content-end;
                        grid-column: newsImg-start / newsImg-end;
                        font-size: 85%;
                        // align-self: end;
                        justify-self: center;
                        color: #b8ecff;
                        margin-top: 100px;
                        z-index: 3;

                        @include respond(tab-port) {
                            margin-top: 110px;
                        }

                        @include respond(phone) {
                            margin-top: 140px;
                        }
                    }

                    &-newsImg {
                        grid-row: title-start / content-end;
                        grid-column: newsImg-start / newsImg-end;
                        width: 120%;
                        height: 130px;
                        z-index: 1;

                        @include respond(tab-port) {
                            width: 190%;
                            height: 100%;
                            margin-left: -30%;
                        }

                    }

                    &-newsImg-cover {
                        grid-row: title-start / content-end;
                        grid-column: newsImg-start / newsImg-end;
                        width: 120%;
                        height: 130px;
                        background: #141E30;
                        /* fallback for old browsers */
                        background: -webkit-linear-gradient(to left, #1a1a2e00, #141E30);
                        /* Chrome 10-25, Safari 5.1-6 */
                        background: linear-gradient(to left, #1a1a2e00, #141E30);
                        z-index: 2;

                        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                        @include respond(tab-port) {
                            width: 190%;
                            height: 100%;
                            margin-left: -30%;
                        }
                    }
                }

                &-eachNews:hover,
                &-eachNews:active {
                    color: rgb(197, 213, 255);

                }
            }

        }

        &--news-button {
            grid-row: buttons-start / buttons-end;
            grid-column: news-start / news-end;
            display: grid;
            grid-template-rows: [buttons-start] 1fr [buttons-end];
            grid-template-columns: [previous-btn-start] 1fr [previous-btn-end next-btn-start] 1fr [next-btn-end];
            grid-column-gap: 3%;
            margin: 2px 20px;
            // font-family: 'Playfair Display', serif;
            letter-spacing: 0.4px;
            font-size: 185%;


            @include respond(tab-land) {
                grid-row: buttons-start / buttons-end;
                grid-column: res-start / res-end;
            }

            @include respond(phone) {
                margin: 2px 5px;
                font-size: 115%;
                height: 40px;
            }

            @include respond(small-phone) {
                margin: 2px 5px;
                font-size: 100%;
                height: 36px;
            }

            &--previous {
                grid-row: buttons-start / buttons-end;
                grid-column: previous-btn-start / previous-btn-end;
                align-self: stretch;
                justify-self: auto;

                background: #005C97;
                /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #363795, #005C97);
                /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #363795, #005C97);
                /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                color: rgb(197, 213, 255);
                padding-left: 6%;
                padding-top: 4px;
                text-decoration: none;
                border-radius: 8px;
                transition: 0.2s;
            }

            &--previous:hover {
                color: #fff;
            }

            &--next {
                grid-row: buttons-start / buttons-end;
                grid-column: next-btn-start / next-btn-end;
                align-self: stretch;
                justify-self: auto;

                background: #005C97;
                /* fallback for old browsers */
                background: -webkit-linear-gradient(to left, #363795, #005C97);
                /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to left, #363795, #005C97);
                /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                color: rgb(197, 213, 255);
                padding-left: 6%;
                padding-top: 4px;
                text-decoration: none;
                border-radius: 8px;
                transition: 0.2s;

            }

            &--next:hover {
                color: #fff;
            }
        }
    }
}

.news-item--news-list {
    // width: 100%;
}

.news-item--searchfor-btn--vaccine--active-btn {}